[submodule "externals/gulrak/filesystem"]
	path = externals/gulrak/filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "externals/ocornut/imgui"]
	path = externals/ocornut/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "externals/kcat/openal-soft"]
	path = externals/kcat/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "externals/lua/lua"]
	path = externals/lua/lua
	url = https://github.com/lua/lua.git
[submodule "externals/nothings/stb"]
	path = externals/nothings/stb
	url = https://github.com/nothings/stb.git
[submodule "externals/aconstlink/rapidxml"]
	path = externals/aconstlink/rapidxml
	url = https://github.com/aconstlink/rapidxml.git
[submodule "externals/aconstlink/khronos-header"]
	path = externals/aconstlink/khronos-header
	url = https://github.com/aconstlink/khronos-header.git
[submodule "externals/epezent/implot"]
	path = externals/epezent/implot
	url = https://github.com/epezent/implot.git
[submodule "externals/nlohmann/json"]
	path = externals/nlohmann/json
	url = https://github.com/nlohmann/json.git
